body {
  background-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.form-container {
  max-width: 500px;
  padding: 20px;
  margin: auto;
}

.login-page-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.login-container {
  display: flex;
  gap: 20px;
  text-align: center;
  width: 100%;
  flex-direction: column;
}

.task-form {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.task-input {
  padding: 10px;
  border-radius: 10px;
  border: 5px solid #2169ff;
}

// max-width: 500px;

.task-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
  padding: 0 20px 20px;
  margin: auto;

  &__text-completed {
    text-decoration: line-through;
  }
}

.task-container-inner {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border: 5px solid #2169ff;
  border-radius: 10px;
}

.form-error {
  color: red;
}

textarea {
  resize: vertical;
  min-height: 100px;
  padding: 12px 20px;
}

.submit-button {
  background-color: #2169ff;
  border: 2px solid #2169ff;
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
  width: 200px;
  padding: 20px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  margin: auto;
  transition: ease-in-out 0.2s;
}
.submit-button:hover {
  background-color: #fff;
  color: #2169ff;
}

.delete-button {
  background-color: #2169ff;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  width: 150px;
  padding: 15px;
  border-radius: 50px;
  border: none;
  margin: auto;
  cursor: pointer;
}

.update-task-elem-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.complete-task-checkbox {
  background-color: red;
}

.loader-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;

  &__loader {
    width: 48px;
    height: 48px;
    border: 5px solid #fff;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 0.5s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: #2169ff;
  transform-origin: 0%;
}
